/*************** GENERAL TAG STYLING ***************/
:root {
  --font-color: #fff;
  --border-color: rgba(0, 0, 0, 0.2);
  --main-color: #336600;
  --accent1-color: #f3b800;
  --accent2-color: #fff;
  --button-border: 1px solid var(--border-color);
  --focus-border-color: #336600;
}
* {
  box-sizing: border-box;
  letter-spacing: 0.5px;
  font-family: Arial, Helvetica, sans-serif;
}
button,
a,
.title h1,
input[type="number"] {
  cursor: pointer;
}

body {
  height: 100%;
}

h1,
h2,
h3,
h4 {
  letter-spacing: 1px;
}

a {
  text-decoration: none;
}

h1:hover {
  color: var(--accent2-color);
}

/*************** END GENERAL TAG STYLING ***************/
/*************** LAYOUT ***************/
/* MAIN CONTAINER */

.site.container {
  display: grid;
  grid-template-rows: repeat(9, fr);
  grid-template-rows: repeat(3, fr);
  margin: 0;
}
.productResults,
.favorites,
.cartContainer,
.content.container,
.homeContainer,
.topbar,
.footer,
.shoppingList {
  width: min(100%, 100%);
  height: min(100%, 100%);
}

.topbar {
  grid-area: 1/1/1/9;
  background: var(--main-color);
  color: var(--accent1-color);
}
.shoppingList {
  grid-area: 2/1/3/2;
  color: var(--font-color);
}
.content.container {
  grid-area: 2/2/3/9;
  background: var(--accent2-color);
}
.footer {
  grid-area: 3/1/3/9;
  background: var(--main-color);
  color: var(--font-color);
}

.productResults,
.favorites {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.cartContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  padding: 1rem 2rem;
}
.cartContainer,
.productResults,
.favorites {
  background: var(--accent2-color);
}
/*************** END LAYOUT ***************/
/***************  CONTAINER TITLES ***************/
/*************** END CONTAINER TITLES ***************/
.containerTitle {
  padding-left: 4rem;
  font-size: 2rem;
  color: var(--main-color);
}
.favContainer > h2 {
  padding-left: 1rem;
}
/*************** STORE PRODUCT STYLING ***************/
.product.store .fa-star {
  font-size: 1.75rem;
  color: var(--accent1-color);
  margin-bottom: 0.25rem;
  padding-left: 0.5rem;
  cursor: pointer;
}
.product.store .fa-star:hover {
  color: var(--accent2-color);
}
.image {
  width: 12rem;
  height: 12rem;
  object-fit: contain;
  align-self: center;
}
.product.store .imgWrapper {
  width: 100%;
  background: white;
  border-radius: 0.25rem;
}
.product.store {
  display: flex;
  flex-direction: column;
  width: min(14rem, 14rem);
  margin: 1rem;
  padding: 0.5rem 0;
  border: 1px solid var(--border-color);
  border-radius: 0.33rem;
  justify-content: space-between;
  background: var(--main-color);
}

.product.store .left > p,
.product.store .description {
  margin-top: 0.25rem;
  margin-bottom: 0.7rem;
  letter-spacing: 0.5px;
  font-size: 1.1rem;
}
.product.store .left > p > span {
  font-size: 0.8rem;
}
.product.store .left p + p {
  margin: 0;
}
.product.store .description {
  font-size: 1.25rem;
  font-weight: 600;
}
.product.store .price {
  font-size: 1.7rem !important;
  font-weight: 1000;
  text-align: center;
  width: 100%;
}

.product.store .content {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: min(7rem, 7rem);
  padding: 0.5rem;
  color: var(--font-color);
}
.product.store .description {
  padding: 0 0.5rem;
  color: var(--font-color);
}
.product.store .right {
  width: min(100%, 40%);
  height: min(100%, 100%);
}
.product.store .left {
  width: min(100%, 60%);
  height: min(100%, 100%);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.product.product.store .right form {
  width: 100%;
  height: min(100%, 100%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.addToCart label {
  font-size: 1rem;
}
.addToCart input {
  font-size: 1.25;
  width: 3rem;
  height: min-content;
  text-align: center;
}
.addToCart button[type="submit"] {
  padding: 0.5rem;
  font-size: 1.5rem;
  border-radius: 50%;
  align-items: center;
  align-self: center;
  border: var(--button-border);
  background: var(--accent1-color);
  color: var(--font-color);
}
.addToCart button[type="submit"]:hover {
  background: var(--accent2-color);
  color: var(--main-color);
}

/*************** END STORE PRODUCT STYLING ***************/
/***************  CART PRODUCT STYLING ***************/
.product.inCart {
  margin: 0;
  align-self: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  padding: 1rem;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--border-color);
  height: min(14rem, 14rem);
  background: var(--main-color);
  color: var(--font-color);
}
.product.inCart .fa-star {
  font-size: 2rem;
  color: var(--accent1-color);
  cursor: pointer;
}
.product.inCart .fa-star:hover {
  color: var(--accent2-color);
}
.product.inCart .info {
  align-self: center;
  font-size: 1.1rem;
}
.product.inCart h2 {
  font-size: 1.5rem;
  max-width: 100%;
  text-align: center;
}
.product.inCart .column {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100%;
  max-width: 45%;
}
.product.inCart .row .rm.fromCart:hover {
  color: var(--accent2-color);
}
.product.inCart .row .rm.fromCart {
  width: fit-content;
  height: fit-content;
  background: transparent;
  border: none;
  font-size: 1.5rem;
  color: red;
}
.product.inCart .price {
  font-size: 2rem;
  font-weight: 700;
}

.product.inCart .row label,
.product.inCart .row input[name="qty"] {
  font-size: 1.3rem;
}
.product.inCart .row input[name="qty"] {
  width: 5rem;
}
.cartContainer .checkOut {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  font-size: 2.3rem;
}
.cartContainer .checkOut .buyBtn:hover {
  background: var(--main-color);
  color: var(--accent2-color);
}
.cartContainer .checkOut .buyBtn {
  font-size: 1.75rem;
  border-radius: 1rem;
  padding: 0.5rem;
  margin-left: 1.5rem;
  background: var(--accent1-color);
  color: var(--font-color);
  border: var(--button-border);
}
.product.inCart .row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  max-width: 25%;
  justify-content: space-between;
  align-items: center;
}
.cartTotal {
  color: var(--main-color);
}
/*************** END CART PRODUCT STYLING ***************/
/***************  NAV BAR STYLING ***************/
.topbar {
  display: flex;
  flex-direction: row;
  padding: 0.25rem 0.5rem;

  height: 5rem;
  border-bottom: 1px solid var(--border-color);
}
.topbar .title,
.topbar .nav {
  width: 100%;
  max-width: 50%;
}
.topbar .title {
  display: flex;
  flex-direction: row;
}
.topbar .title > span > h1 {
  margin: 0;
  position: absolute;
  bottom: 1.5rem;
}
.topbar .title > span {
  align-self: flex-start;
  width: 30%;
  height: 100%;
  text-align: center;
  position: relative;
}
.topbar .nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: relative;
}
.topbar .nav .icons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  max-width: 50%;
  position: absolute;
  bottom: 0.75rem;
}
.topbar .nav .icons i {
  color: var(--accent1-color);
}
.topbar .nav .icons i:hover {
  color: var(--accent2-color);
}
.cartBtn > span {
  position: absolute;
  font-size: 1.1rem;
  top: -1rem;
  left: -0.75rem;
  border: 1px solid red;
  width: 1.5rem;
  border-radius: 50%;
  color: var(--font-color);
  background: red;
}
.nav .btn {
  margin: 0 0.5rem;
  font-size: 1.75rem;
  position: relative;
  border: none;
  background: transparent;
}
/*************** END NAV BAR STYLING ***************/
/***************  SHOPPING LISTS STYLING ***************/
.shoppingList {
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--border-color);
  width: min(17rem, 17rem);
  background: var(--main-color);
}
.shoppingList h2 {
  text-align: center;
  font-size: 1.75rem;
}
input:hover {
  border: 2px solid var(--accent1-color) !important ;
  cursor: pointer;
}
input:focus {
  outline: none !important;
  border: 2px solid var(--accent1-color) !important;
}

.shoppingList .addToList input {
  width: 12rem;
  padding: 0.12rem;
  padding-left: 1rem;
  height: 2rem;
  border: var(--button-border);
  border-radius: 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 1.5rem;
}
.shoppingList .addToList button:hover {
  background: var(--accent2-color);
  color: var(--main-color);
}
.shoppingList .addToList button {
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  font-size: 1.25rem;
  padding: 0.2rem;
  text-align: center;
  border: var(--button-border);
  background: var(--accent1-color);
  color: var(--font-color);
}
.shoppingList .formWrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.shoppingList .itemList {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background: rgba(0, 0, 0, 0.05);
}
.shoppingList .listWrap {
  align-self: center;
  width: 13rem;
}
.itemList > .item > a:hover {
  color: var(--accent2-color);
}
.itemList > .item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-bottom: 0.5rem;
  color: var(--accent1-color);
}

.itemList > .item > button:hover {
  color: var(--accent2-color);
}
.itemList > .item > button {
  background: transparent;
  border: none;
  color: red;
}

.itemList > .item > a {
  font-size: 1.5rem;
  text-transform: capitalize;
  color: var(--accent1-color);
}
.itemList > .item > .line-through {
  text-decoration: line-through;
  color: var(--accent2-color);
}
.itemList > .item > .line-through:hover {
  color: var(--accent1-color);
}
/*************** END SHOPPING LISTS STYLING ***************/
/***************  FOOTER STYLING ***************/
.footer {
  height: min(4rem, 4rem);
  text-align: center;
  padding: 1rem;
  border-top: 1px solid var(--border-color);
}
/*************** END FOOTER STYLING ***************/

/***************  LOGIN STYLING ***************/
.login {
  margin: -2rem;
  padding: 5rem;
  width: 100%;
  height: 100vh;
  background: #336600;
  color: #336600;
  font-size: 1.2rem;
}
.loginWrapper {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding-top: 10%;
}
.contentLogin {
  padding: 2rem;
  padding-top: 3rem;
  border: 1px solid var(--border-color);
  border-radius: 1rem;
  height: 25rem;
  width: 20rem;
  text-align: center;
  background: #c0c0c0;
}
.loginForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.loginForm button {
  font-size: 1.5rem;
  background-color: #f3b800;
  color: black;
  padding: 0.75rem;
  border-radius: 0.75rem;
  width: fit-content;
  align-self: center;
  border: var(--button-border);
}
.loginForm button:hover {
  background: var(--main-color);
  color: var(--font-color);
}
.loginForm input {
  margin-top: 0.4rem;
  margin-bottom: 2rem;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  padding: 0.3rem;
  padding-left: 1rem;
  border: 1px solid var(--border-color);
  background: rgba(90, 84, 84, 0.2);
  color: #336600;
}
.loginForm input:hover {
  border: 1px solid #336600 !important;
}
.loginForm input:focus {
  outline: none !important;
  border: 1px solid #336600 !important;
}
/*************** END LOGIN STYLING ***************/
/***************  PAGINATION STYLING ***************/
.pagination {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-self: center;
}
.pageBtn:hover,
.active {
  color: var(--accent2-color);
  background: var(--main-color);
}
.pageBtn {
  align-self: center;
  border-radius: 50%;
  padding: .2rem;
  font-size: 1.2rem;
  width: 2rem;
  height: 2rem;
  color: var(--main-color);
  background: var(--accent1-color);
  margin-right: 0.75rem;
  border: var(--button-border);
  cursor: pointer;
}
.pageBtn.next{
  width: 4rem !important;

  border-bottom-left-radius: .5rem;
  border-top-left-radius: .5rem;
}
.pageBtn.prev{
  width: 4rem !important;
  border-bottom-right-radius: .5rem;
  border-top-right-radius: .5rem;
}
 .dot.pageBtn:hover{
  cursor: default;
}
/*************** END PAGINATION STYLING ***************/
